
@font-face {
  font-family: 'iconfont';  /* project id 467075 */
  src: url('//at.alicdn.com/t/font_467075_d054hfv6kihpvi.eot');
  src: url('//at.alicdn.com/t/font_467075_d054hfv6kihpvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_467075_d054hfv6kihpvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_467075_d054hfv6kihpvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_467075_d054hfv6kihpvi.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:20px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*皇冠*/
.el-icon-hhy-wxbbiaowang:before { content: "\e619"; } 
/*图片*/
.el-icon-hhy-weibiaoti102-copy:before { content: "\e605"; }
/*图片窄*/
.el-icon-hhy-tupian:before { content: "\e73f"; }
/*链接*/
.el-icon-hhy-lianjie1:before { content: "\e604"; }
/*链接2*/
.el-icon-hhy-lianjie2:before { content: "\e67b"; }
/*斜体*/
.el-icon-hhy-xieti:before { content: "\e693"; }
/*代码*/
.el-icon-hhy-daima:before { content: "\e996"; }
/*线条*/
.el-icon-hhy-hr:before { content: "\e6e0"; }
/*粗体*/
.el-icon-hhy-font-bold:before { content: "\e7d6"; }
/*帮助*/
.el-icon-hhy-bangzhu:before { content: "\e68b"; }
/*帮助2*/
.el-icon-hhy-bangzhu1:before { content: "\e60f"; }
/* 头像 */
.el-icon-hhy-toux2:before { content: "\e628"; }
/* 用户名 */
.el-icon-hhy-touxiang1:before { content: "\e61d"; }
/* 密码 */
.el-icon-hhy-mima:before { content: "\e6a1"; }
/* 客服管理中心 */
.el-icon-hhy-kefu:before { content: "\e600"; }
/* 用户 */
.el-icon-hhy-yonghuuser:before { content: "\e629"; }
/* 用户2 */
.el-icon-hhy-yonghu:before { content: "\e63a"; }
/* 用户3 */
.el-icon-hhy-zhanghao:before { content: "\e673"; }
/* 邮箱 */
.el-icon-hhy-youxiang:before { content: "\e632"; }
/* 消息 */
.el-icon-hhy-xiaoxi:before { content: "\e61b"; }
/* 客服 */
.el-icon-hhy-kefu1:before { content: "\e610"; }
/* 笔记 */
.el-icon-hhy-bijiben:before { content: "\e606"; }
/* 赞 */
.el-icon-hhy-zan:before { content: "\e625"; }
/* 阅读 */
.el-icon-hhy-yuedu:before { content: "\e731"; }